.header{
    background-color: $off-black;
    color: #fff;
    margin-bottom: $l-size;
    padding:$s-size 0;
    }

    //BEM BLOCK ELEMENT MODIFIERS
    .header__title{
        font-size: $l-size;
        margin: 0;

    }
    .header__subtitle{
        color:$off-white;
        font-size:$s-size;
        font-weight:300;
        margin:0;
    }
    // normal sized screen, everything up there is default and adjusted for smaller
@media (min-width:$desktop-breakpoint){
    .header__title{
        font-size: $xl-size;
     }
     .header__subtitle{
        font-size:$m-size;
        font-weight:500;
    }
    .header{
        margin-bottom: $xl-size;
        padding:$m-size 0;
        }
   
 }